:root {
  --color-nutmeg: hsl(14, 45%, 36%);
  --color-dark-raspberry: hsl(332, 51%, 32%);
  --color-white: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-grey: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);
}

@font-face {
  font-family:"Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family:"Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  line-height: 1.5;

  font-family: "Outfit", sans-serif;
  color: var(--color-wenge-brown);
}

body {
  margin: 0;
  background-color: var(--color-eggshell)
}

article {
  width: 50%;
  margin: 8em auto;
  padding: 2.5em;

  background-color: var(--color-white);
  border-radius: 0.75em;
}

@media screen and (max-width: 768px) {
  article {
    width: 100%;
    margin: 0;
    
    border-radius: 0;
  }
}

article img {
  width: 100%;
  border-radius: 0.75em
}

h1 {
  font: 2.25em "Young Serif", serif;
  color: var(--color-dark-charcoal);
  margin-top: 1em;
}

h2 {
  font: 1.75em "Young Serif", serif;
  color: var(--color-nutmeg);
}

section, p {
  padding: 2em 0;
}

.section__preparation ~ section:not(:last-child) {
  border-bottom: 1px solid var(--color-light-grey);
}

.step {
  font-weight: bold;
}

.section__preparation {
  padding: 1.5em;

  border-radius: 0.75em;
  background-color: var(--color-rose-white);
}

.section__preparation h2 {
  margin-top: 0;
  font: bold 1.25em "Outfit", sans-serif;
  color: var(--color-dark-raspberry);
}

.section__preparation ul {
  margin: 0;
}

ul, ol {
  padding: 0;
}

li::marker {
  font-weight: bold;
  color: var(--color-nutmeg);
}

li {
  margin: 0.75em 1em;
  padding-left: 2em;
}

li:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--color-light-grey);
}

td:first-child {
  padding-left: 2em;
}

td {
  padding: 0.5em;
}

td:nth-child(2) {
  font-weight: bold;
  color: var(--color-nutmeg);
}