:root {
  --color-nutmeg: hsl(14, 45%, 36%);
  --color-dark-raspberry: hsl(332, 51%, 32%);
  --color-white: hsl(0, 0%, 100%);
  --color-rose-white: hsl(330, 100%, 98%);
  --color-eggshell: hsl(30, 54%, 90%);
  --color-light-grey: hsl(30, 18%, 87%);
  --color-wenge-brown: hsl(30, 10%, 34%);
  --color-dark-charcoal: hsl(24, 5%, 18%);
}

@font-face {
  font-family:"Outfit";
  src: url("./assets/fonts/outfit/Outfit-VariableFont_wght.ttf") format("truetype");
}

@font-face {
  font-family:"Young Serif";
  src: url("./assets/fonts/young-serif/YoungSerif-Regular.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  line-height: 1.5;

  font-family: "Outfit", sans-serif;
  color: var(--color-wenge-brown);
}

body {
  background-color: var(--color-eggshell)
}

main {
  width: 45em;
  max-width: 90%;
  margin: 8em auto;

  background-color: var(--color-white);
  border-radius: 0.75em;
}

article {
  padding: 0 2.5em;
}

img {
  margin: 2.5em 2.5em 0 2.5em;
  width: calc(100% - 2 * 2.5em);
  border-radius: 0.75em
}

h1 {
  font: 2.25em "Young Serif", serif;
  color: var(--color-dark-charcoal);
  margin-bottom: 0.75em;
}

h2 {
  font: 1.75em "Young Serif", serif;
  color: var(--color-nutmeg);
  margin-bottom: 1em;
}

section {
  padding: 2em 0;
}

p:not(:last-child) {
  margin-bottom: 1.75em;
}

.section__preparation {
  padding: 1.5em;

  border-radius: 0.75em;
  background-color: var(--color-rose-white);
}

.section__preparation ~ section:not(:last-child) {
  border-bottom: 1px solid var(--color-light-grey);
}

.step {
  font-weight: bold;
}

.section__preparation h2 {
  font: bold 1.25em "Outfit", sans-serif;
  color: var(--color-dark-raspberry);
}

.section__preparation ul {
  margin: 0;
}

ul, ol {
  padding-left: 0.5em;
}

li::marker {
  font-weight: bold;
  color: var(--color-nutmeg);
}

li {
  margin: 0.75em 1em;
  padding-left: 1.25em;
}

li:last-child {
  margin-bottom: 0;
}

table {
  width: 100%;
  border-collapse: collapse;
}

tr:not(:last-child) {
  border-bottom: 1px solid var(--color-light-grey);
}

td:first-child {
  padding-left: 2em;
}

td {
  padding: 0.5em;
}

td:nth-child(2) {
  font-weight: bold;
  color: var(--color-nutmeg);
}

@media screen and (max-width: 768px) {
  main {
    max-width: 100%;
    margin: 0;
    
    border-radius: 0;
  }

  img {
    margin: 0;
    width: 100%;
    
    border-radius: 0;
  }
}